{% extends 'base.html' %} 

{% block title %}Boards{% endblock title %} 

{% block content %}
<div class="card">
    <div class="card-header justify-content-between">
        {{ object.name }}
        <a class="card-link justify-content-end" href="{% url 'column_add' board.pk %}">Add Column</a>
    </div>
  <div class="card-body">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for column in object.columns.all %}
        <div class="col">
            <div class="card">
            <div class="card-header"> 
                <div class="dropdown">
                    {{ column }} 
                    <button class="btn dropdown-toggle btn-sm justify-content-end" type="button" id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'task_add' column.pk %}">Add Task</a>
                        <a class="dropdown-item" href="{% url 'column_delete' column.pk %}">Delete Column</a>
                    </div>
                </div>
            </div>
                {% for task in column.tasks.all %}
                    <div class="card-body">
                        <!--<p class="card-text"> {{ task }} </p> -->
                        <a class="card-text" href="{% url 'task_detail' task.pk %}">{{ task }}</a>
                        <small class="d-block text-muted">{{ task.description }}</small>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
    
    
  </div>
</div>
{% endblock content %}
